body {
    font-family: 'Varela Round', sans-serif;
    background-color: #fafafa;
}
.headboard {
    background-color: #435d7d;
    color: #fff;
}
body, table {
    color: #566787 !important;
}
button {
    background-color: #5cb85c !important;
    color: #fff !important;
}
button:hover {
    background-color: #4c964c !important;
}
.input {
    background-color: rgba(255, 71, 71, 0.644);
    border: solid 2px red;
}